<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizBowl!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/Logo.png')}}">

    {% block head %}{% endblock %}
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <span class="{{ category }}">{{ message }}</span>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    <div id="mouse-center"></div>
    <div id="mouse"></div>
    <main>
        <header>
            <input class="contrast" type="checkbox" id="contrast" name="contrast" />
            <label for="contrast"></label>
            <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
            <label for="menu-icon"></label>
            <nav class="nav">
                <ul class="pt-5">
                    <li><a href="/">Home</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/register">Register / Login</a></li>
                </ul>
            </nav>
        </header>
        <h1>{% block header %}Welcome to My Website{% endblock %}</h1>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ current_year }} Sebastian A-R. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/theme.js')}}"></script>
    {% block script %}{% endblock %}
</body>
</html>